:root {
    --text-muted: rgb(126, 126, 126);
    --color-up-work: #F7FAF7;
    --color-border: #d7e6d7;
    --color-primary: #5d925d;
}

body {
    font-family: roboto;
    box-sizing: border-box;
}

.wrapper-field {
    background-color: #F7FAF7;
    padding: 15px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.wrapper-btn-remove-field {
    position: absolute;
    top: 0px;
    right: 6px;
}

.wrapper-field>div:not(:last-child) {
    margin-right: 10px;
    margin-bottom: 10px;
    min-width: 238px;
}

.wrapper-field:not(:last-child) {
    margin-bottom: 10px;
}

.mbtn {
    outline: none;
    cursor: pointer;
    background-color: var(--color-primary);
    color: white;
    border: 1px solid var(--color-border);
    padding: 5px 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.bold {
    font-weight: bold;
}

.mbtn:focus {
    outline: none;
}

.form-text {
    display: block;
    width: 100%;
    border: 1px solid #d7e6d7;
    padding: 4px 7px;
    border-radius: 3px;
    font-size: 18px;
    margin-top: 0px;
}

.form-text:focus {
    outline: none;
}

.form-textarea {
    width: 100%;
    border: 1px solid rgb(138, 138, 138);
}

.form-textarea:focus {
    outline: none;
}

.field-label:not(:first-child) {
    padding-top: 10px;
}

.field-label {
    color: var(--text-muted);
}

.btn-remove-field {
    color: rgb(254, 79, 79);
    outline: none;
    cursor: pointer;
    background-color: aliceblue;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 50%;
    font-size: 14px;
    height: 32px;
    width: 32px;
}

.btn-remove-field:hover {
    color: red;
}

/* wrapper-color-line */
.wrapper-color-line {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.color-line {
    width: 100%;
    height: 3px;
    opacity: 0.1;
}

.color-line-1 {
    background-color: green;
}

.color-line-2 {
    background-color: blue;
}

.color-line-3 {
    background-color: rgb(226, 28, 61);
}

.CodeMirror {
    border: 1px solid #ccc;
}

/*
  nav-left: styles
*/

.nav-left {
    background-color: rgb(249, 249, 249);
    height: 100vh;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #F7FAF7;
    padding: 10px 0px;
}

.nav-left ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.nav-left ul li a {
    display: block;
    padding: 5px 20px;
    color: rgb(0, 0, 0);
    font-size: 17px;
}

.nav-left ul li a:hover {
    text-decoration: none;
    background-color: #e4e4e4;
}

.nav-left>ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.nl__item-active {
    background-color: #e7e7e7;
}